# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake local files
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/Makefile

# Compilation outputs
/bin
/lib
