<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.chili.chilitags.samples.estimate3d"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="Chilitags Samples: estimate3d" android:icon="@drawable/ic_launcher">
        <activity
            android:name="ch.epfl.chili.chilitags.samples.estimate3d.Estimate3DActivity"
            android:label="Chilitags Samples: estimate3d" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
