name: Release Candidate
on: 
  pull_request:
    branches:
      - master
jobs:
  package:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Package
        id: package
        uses: AutoModality/action-package-debian-ros@BB-800/melodic
        with:
          branch: ${{ github.event.pull_request.head.ref }}
          pull-request-number: ${{ github.event.number }}
          build-number: ${{ github.run_number }}
      - name: The generated package
        run: echo "The artifact is ${{ steps.package.outputs.artifact-path }}"
      - name: Deploy
        id: deploy
        uses: AutoModality/action-cloudsmith@0.2.0
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          command: 'push'
          format: 'deb'
          owner: 'automodality'
          repo: 'dev'
          distro: 'ubuntu'
          release: 'bionic'
          file: '${{ steps.package.outputs.artifact-path }}'
