name: Story Development

on:
  push:
    branches-ignore:
      - master    
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: make
        uses: AutoModality/action-package-debian-ros@BB-800/melodic


